span.bigtext{
    color: inherit;
    font-size-adjust: auto;
    font-family: 'IBM Plex Sans', ital;
    font-weight: bold;
    font-size: 150px;
    width: auto;
    word-break: none;
  }
  .loginbutton {
    background-color:#403e42;
    border: black;
    border-width:thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: inherit;
    display: inline-block;
    font-family: 'Noto Serif HK', serif;
    font-weight: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    float: left;
  }
  .signup{
    background-color:#403e42;
    border: black;
    border-width:thin;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: inherit;
    display: inline-block;
    font-family: 'Noto Serif HK', serif;
    font-weight: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    float: inherit;
  }
  html{
   min-height: 100%;
   background-image: url(BG.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
  }
 
  